body {
    height: 100vh;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    overflow: hidden;
    filter: drop-shadow(0 0 10px white);
  }
  
  .snow {
    position: absolute;
    width: 200px;
    height: 200px;
    background: url('../image/alexHead.png');
    background-size: cover;
  }
  .snow:nth-child(1) {
    opacity: 0.9316;
    transform: translate(40.6943vw, -10px) scale(0.7907);
    animation: fall-1 19s -18s linear infinite;
  }
  @keyframes fall-1 {
    50.205% {
      transform: translate(35.7896vw, 50.205vh) scale(0.7907);
    }
    to {
      transform: translate(38.24195vw, 100vh) scale(0.7907);
    }
  }
  .snow:nth-child(2) {
    opacity: 0.5358;
    transform: translate(52.9463vw, -10px) scale(0.7382);
    animation: fall-2 16s -11s linear infinite;
  }
  @keyframes fall-2 {
    58.456% {
      transform: translate(47.9907vw, 58.456vh) scale(0.7382);
    }
    to {
      transform: translate(50.4685vw, 100vh) scale(0.7382);
    }
  }
  .snow:nth-child(3) {
    opacity: 0.1567;
    transform: translate(43.8483vw, -10px) scale(0.3954);
    animation: fall-3 28s -23s linear infinite;
  }
  @keyframes fall-3 {
    74.223% {
      transform: translate(36.1829vw, 74.223vh) scale(0.3954);
    }
    to {
      transform: translate(40.0156vw, 100vh) scale(0.3954);
    }
  }
  .snow:nth-child(4) {
    opacity: 0.7116;
    transform: translate(86.5684vw, -10px) scale(0.3658);
    animation: fall-4 22s -27s linear infinite;
  }
  @keyframes fall-4 {
    44.13% {
      transform: translate(89.1695vw, 44.13vh) scale(0.3658);
    }
    to {
      transform: translate(87.86895vw, 100vh) scale(0.3658);
    }
  }
  .snow:nth-child(5) {
    opacity: 0.8699;
    transform: translate(24.8244vw, -10px) scale(0.4337);
    animation: fall-5 16s -19s linear infinite;
  }
  @keyframes fall-5 {
    51.235% {
      transform: translate(18.89vw, 51.235vh) scale(0.4337);
    }
    to {
      transform: translate(21.8572vw, 100vh) scale(0.4337);
    }
  }
  .snow:nth-child(6) {
    opacity: 0.1048;
    transform: translate(94.5566vw, -10px) scale(0.2248);
    animation: fall-6 10s -22s linear infinite;
  }
  @keyframes fall-6 {
    55.628% {
      transform: translate(96.5314vw, 55.628vh) scale(0.2248);
    }
    to {
      transform: translate(95.544vw, 100vh) scale(0.2248);
    }
  }
  .snow:nth-child(7) {
    opacity: 0.2789;
    transform: translate(82.0327vw, -10px) scale(0.5884);
    animation: fall-7 19s -8s linear infinite;
  }
  @keyframes fall-7 {
    67.877% {
      transform: translate(76.7002vw, 67.877vh) scale(0.5884);
    }
    to {
      transform: translate(79.36645vw, 100vh) scale(0.5884);
    }
  }
  .snow:nth-child(8) {
    opacity: 0.0401;
    transform: translate(18.8745vw, -10px) scale(0.9203);
    animation: fall-8 14s -28s linear infinite;
  }
  @keyframes fall-8 {
    52.324% {
      transform: translate(20.7714vw, 52.324vh) scale(0.9203);
    }
    to {
      transform: translate(19.82295vw, 100vh) scale(0.9203);
    }
  }
  .snow:nth-child(9) {
    opacity: 0.7293;
    transform: translate(44.9341vw, -10px) scale(0.6256);
    animation: fall-9 13s -19s linear infinite;
  }
  @keyframes fall-9 {
    79.93% {
      transform: translate(47.1341vw, 79.93vh) scale(0.6256);
    }
    to {
      transform: translate(46.0341vw, 100vh) scale(0.6256);
    }
  }
  .snow:nth-child(10) {
    opacity: 0.9322;
    transform: translate(27.889vw, -10px) scale(0.6773);
    animation: fall-10 15s -30s linear infinite;
  }
  @keyframes fall-10 {
    66.263% {
      transform: translate(20.4031vw, 66.263vh) scale(0.6773);
    }
    to {
      transform: translate(24.14605vw, 100vh) scale(0.6773);
    }
  }
  .snow:nth-child(11) {
    opacity: 0.7948;
    transform: translate(20.8774vw, -10px) scale(0.4609);
    animation: fall-11 21s -10s linear infinite;
  }
  @keyframes fall-11 {
    51.589% {
      transform: translate(30.403vw, 51.589vh) scale(0.4609);
    }
    to {
      transform: translate(25.6402vw, 100vh) scale(0.4609);
    }
  }
  .snow:nth-child(12) {
    opacity: 0.6048;
    transform: translate(25.767vw, -10px) scale(0.525);
    animation: fall-12 19s -20s linear infinite;
  }
  @keyframes fall-12 {
    45.806% {
      transform: translate(26.474vw, 45.806vh) scale(0.525);
    }
    to {
      transform: translate(26.1205vw, 100vh) scale(0.525);
    }
  }
  .snow:nth-child(13) {
    opacity: 0.059;
    transform: translate(76.1706vw, -10px) scale(0.9924);
    animation: fall-13 13s -8s linear infinite;
  }
  @keyframes fall-13 {
    69.748% {
      transform: translate(68.9603vw, 69.748vh) scale(0.9924);
    }
    to {
      transform: translate(72.56545vw, 100vh) scale(0.9924);
    }
  }
  .snow:nth-child(14) {
    opacity: 0.07;
    transform: translate(91.4279vw, -10px) scale(0.1344);
    animation: fall-14 11s -1s linear infinite;
  }
  @keyframes fall-14 {
    68.418% {
      transform: translate(87.3813vw, 68.418vh) scale(0.1344);
    }
    to {
      transform: translate(89.4046vw, 100vh) scale(0.1344);
    }
  }
  .snow:nth-child(15) {
    opacity: 0.664;
    transform: translate(35.6869vw, -10px) scale(0.8512);
    animation: fall-15 17s -15s linear infinite;
  }
  @keyframes fall-15 {
    65.279% {
      transform: translate(28.0568vw, 65.279vh) scale(0.8512);
    }
    to {
      transform: translate(31.87185vw, 100vh) scale(0.8512);
    }
  }
  .snow:nth-child(16) {
    opacity: 0.5012;
    transform: translate(60.8171vw, -10px) scale(0.4273);
    animation: fall-16 14s -11s linear infinite;
  }
  @keyframes fall-16 {
    78.491% {
      transform: translate(65.3751vw, 78.491vh) scale(0.4273);
    }
    to {
      transform: translate(63.0961vw, 100vh) scale(0.4273);
    }
  }
  .snow:nth-child(17) {
    opacity: 0.9926;
    transform: translate(44.7589vw, -10px) scale(0.5616);
    animation: fall-17 24s -10s linear infinite;
  }
  @keyframes fall-17 {
    59.781% {
      transform: translate(39.7262vw, 59.781vh) scale(0.5616);
    }
    to {
      transform: translate(42.24255vw, 100vh) scale(0.5616);
    }
  }
  .snow:nth-child(18) {
    opacity: 0.2422;
    transform: translate(35.6365vw, -10px) scale(0.8301);
    animation: fall-18 12s -15s linear infinite;
  }
  @keyframes fall-18 {
    70.882% {
      transform: translate(38.0644vw, 70.882vh) scale(0.8301);
    }
    to {
      transform: translate(36.85045vw, 100vh) scale(0.8301);
    }
  }
  .snow:nth-child(19) {
    opacity: 0.9961;
    transform: translate(74.3689vw, -10px) scale(0.8502);
    animation: fall-19 29s -3s linear infinite;
  }
  @keyframes fall-19 {
    36.432% {
      transform: translate(65.6571vw, 36.432vh) scale(0.8502);
    }
    to {
      transform: translate(70.013vw, 100vh) scale(0.8502);
    }
  }
  .snow:nth-child(20) {
    opacity: 0.421;
    transform: translate(60.1787vw, -10px) scale(0.6381);
    animation: fall-20 30s -21s linear infinite;
  }
  @keyframes fall-20 {
    49.222% {
      transform: translate(68.8483vw, 49.222vh) scale(0.6381);
    }
    to {
      transform: translate(64.5135vw, 100vh) scale(0.6381);
    }
  }
  .snow:nth-child(21) {
    opacity: 0.4488;
    transform: translate(8.2069vw, -10px) scale(0.7555);
    animation: fall-21 26s -6s linear infinite;
  }
  @keyframes fall-21 {
    75.235% {
      transform: translate(9.3818vw, 75.235vh) scale(0.7555);
    }
    to {
      transform: translate(8.79435vw, 100vh) scale(0.7555);
    }
  }
  .snow:nth-child(22) {
    opacity: 0.8113;
    transform: translate(91.2476vw, -10px) scale(0.8086);
    animation: fall-22 13s -18s linear infinite;
  }
  @keyframes fall-22 {
    32.187% {
      transform: translate(86.4436vw, 32.187vh) scale(0.8086);
    }
    to {
      transform: translate(88.8456vw, 100vh) scale(0.8086);
    }
  }
  .snow:nth-child(23) {
    opacity: 0.9857;
    transform: translate(0.2355vw, -10px) scale(0.0958);
    animation: fall-23 17s -9s linear infinite;
  }
  @keyframes fall-23 {
    51.32% {
      transform: translate(0.2727vw, 51.32vh) scale(0.0958);
    }
    to {
      transform: translate(0.2541vw, 100vh) scale(0.0958);
    }
  }
  .snow:nth-child(24) {
    opacity: 0.8695;
    transform: translate(83.7387vw, -10px) scale(0.1001);
    animation: fall-24 13s -25s linear infinite;
  }
  @keyframes fall-24 {
    36.137% {
      transform: translate(76.2926vw, 36.137vh) scale(0.1001);
    }
    to {
      transform: translate(80.01565vw, 100vh) scale(0.1001);
    }
  }
  .snow:nth-child(25) {
    opacity: 0.4939;
    transform: translate(54.5864vw, -10px) scale(0.5724);
    animation: fall-25 14s -19s linear infinite;
  }
  @keyframes fall-25 {
    71.715% {
      transform: translate(57.6523vw, 71.715vh) scale(0.5724);
    }
    to {
      transform: translate(56.11935vw, 100vh) scale(0.5724);
    }
  }
  .snow:nth-child(26) {
    opacity: 0.2427;
    transform: translate(46.8414vw, -10px) scale(0.4603);
    animation: fall-26 27s -6s linear infinite;
  }
  @keyframes fall-26 {
    63.997% {
      transform: translate(38.5386vw, 63.997vh) scale(0.4603);
    }
    to {
      transform: translate(42.69vw, 100vh) scale(0.4603);
    }
  }
  .snow:nth-child(27) {
    opacity: 0.7122;
    transform: translate(16.3344vw, -10px) scale(0.9535);
    animation: fall-27 21s -20s linear infinite;
  }
  @keyframes fall-27 {
    45.444% {
      transform: translate(15.1316vw, 45.444vh) scale(0.9535);
    }
    to {
      transform: translate(15.733vw, 100vh) scale(0.9535);
    }
  }
  .snow:nth-child(28) {
    opacity: 0.9358;
    transform: translate(24.0537vw, -10px) scale(0.3698);
    animation: fall-28 22s -27s linear infinite;
  }
  @keyframes fall-28 {
    36.346% {
      transform: translate(21.3799vw, 36.346vh) scale(0.3698);
    }
    to {
      transform: translate(22.7168vw, 100vh) scale(0.3698);
    }
  }
  .snow:nth-child(29) {
    opacity: 0.1601;
    transform: translate(73.68vw, -10px) scale(0.5584);
    animation: fall-29 30s -17s linear infinite;
  }
  @keyframes fall-29 {
    50.485% {
      transform: translate(78.3595vw, 50.485vh) scale(0.5584);
    }
    to {
      transform: translate(76.01975vw, 100vh) scale(0.5584);
    }
  }
  .snow:nth-child(30) {
    opacity: 0.1892;
    transform: translate(37.8372vw, -10px) scale(0.261);
    animation: fall-30 14s -15s linear infinite;
  }
  @keyframes fall-30 {
    31.968% {
      transform: translate(45.5104vw, 31.968vh) scale(0.261);
    }
    to {
      transform: translate(41.6738vw, 100vh) scale(0.261);
    }
  }
  .snow:nth-child(31) {
    opacity: 0.7546;
    transform: translate(76.442vw, -10px) scale(0.466);
    animation: fall-31 26s -12s linear infinite;
  }
  @keyframes fall-31 {
    61.385% {
      transform: translate(72.9163vw, 61.385vh) scale(0.466);
    }
    to {
      transform: translate(74.67915vw, 100vh) scale(0.466);
    }
  }
  .snow:nth-child(32) {
    opacity: 0.5017;
    transform: translate(75.0224vw, -10px) scale(0.6593);
    animation: fall-32 22s -8s linear infinite;
  }
  @keyframes fall-32 {
    73.496% {
      transform: translate(65.3769vw, 73.496vh) scale(0.6593);
    }
    to {
      transform: translate(70.19965vw, 100vh) scale(0.6593);
    }
  }
  .snow:nth-child(33) {
    opacity: 0.6144;
    transform: translate(59.164vw, -10px) scale(0.3003);
    animation: fall-33 13s -11s linear infinite;
  }
  @keyframes fall-33 {
    66.959% {
      transform: translate(67.8635vw, 66.959vh) scale(0.3003);
    }
    to {
      transform: translate(63.51375vw, 100vh) scale(0.3003);
    }
  }
  .snow:nth-child(34) {
    opacity: 0.062;
    transform: translate(92.7343vw, -10px) scale(0.4444);
    animation: fall-34 27s -10s linear infinite;
  }
  @keyframes fall-34 {
    72.557% {
      transform: translate(94.3209vw, 72.557vh) scale(0.4444);
    }
    to {
      transform: translate(93.5276vw, 100vh) scale(0.4444);
    }
  }
  .snow:nth-child(35) {
    opacity: 0.364;
    transform: translate(46.6959vw, -10px) scale(0.8502);
    animation: fall-35 11s -15s linear infinite;
  }
  @keyframes fall-35 {
    72.609% {
      transform: translate(54.6955vw, 72.609vh) scale(0.8502);
    }
    to {
      transform: translate(50.6957vw, 100vh) scale(0.8502);
    }
  }
  .snow:nth-child(36) {
    opacity: 0.5313;
    transform: translate(49.3451vw, -10px) scale(0.0717);
    animation: fall-36 10s -24s linear infinite;
  }
  @keyframes fall-36 {
    67.894% {
      transform: translate(44.4219vw, 67.894vh) scale(0.0717);
    }
    to {
      transform: translate(46.8835vw, 100vh) scale(0.0717);
    }
  }
  .snow:nth-child(37) {
    opacity: 0.2142;
    transform: translate(37.392vw, -10px) scale(0.3871);
    animation: fall-37 18s -6s linear infinite;
  }
  @keyframes fall-37 {
    57.41% {
      transform: translate(36.7338vw, 57.41vh) scale(0.3871);
    }
    to {
      transform: translate(37.0629vw, 100vh) scale(0.3871);
    }
  }
  .snow:nth-child(38) {
    opacity: 0.934;
    transform: translate(77.8994vw, -10px) scale(0.2179);
    animation: fall-38 29s -20s linear infinite;
  }
  @keyframes fall-38 {
    46.113% {
      transform: translate(86.8369vw, 46.113vh) scale(0.2179);
    }
    to {
      transform: translate(82.36815vw, 100vh) scale(0.2179);
    }
  }
  .snow:nth-child(39) {
    opacity: 0.7734;
    transform: translate(91.3836vw, -10px) scale(0.3311);
    animation: fall-39 26s -26s linear infinite;
  }
  @keyframes fall-39 {
    44.365% {
      transform: translate(96.8654vw, 44.365vh) scale(0.3311);
    }
    to {
      transform: translate(94.1245vw, 100vh) scale(0.3311);
    }
  }
  .snow:nth-child(40) {
    opacity: 0.4136;
    transform: translate(50.9119vw, -10px) scale(0.4036);
    animation: fall-40 16s -21s linear infinite;
  }
  @keyframes fall-40 {
    79.916% {
      transform: translate(60.2895vw, 79.916vh) scale(0.4036);
    }
    to {
      transform: translate(55.6007vw, 100vh) scale(0.4036);
    }
  }
  .snow:nth-child(41) {
    opacity: 0.3219;
    transform: translate(30.9252vw, -10px) scale(0.708);
    animation: fall-41 25s -9s linear infinite;
  }
  @keyframes fall-41 {
    71.319% {
      transform: translate(31.7307vw, 71.319vh) scale(0.708);
    }
    to {
      transform: translate(31.32795vw, 100vh) scale(0.708);
    }
  }
  .snow:nth-child(42) {
    opacity: 0.4757;
    transform: translate(71.3679vw, -10px) scale(0.6173);
    animation: fall-42 25s -8s linear infinite;
  }
  @keyframes fall-42 {
    30.713% {
      transform: translate(79.3608vw, 30.713vh) scale(0.6173);
    }
    to {
      transform: translate(75.36435vw, 100vh) scale(0.6173);
    }
  }
  .snow:nth-child(43) {
    opacity: 0.5923;
    transform: translate(31.6113vw, -10px) scale(0.1321);
    animation: fall-43 11s -21s linear infinite;
  }
  @keyframes fall-43 {
    47.934% {
      transform: translate(41.0173vw, 47.934vh) scale(0.1321);
    }
    to {
      transform: translate(36.3143vw, 100vh) scale(0.1321);
    }
  }
  .snow:nth-child(44) {
    opacity: 0.6628;
    transform: translate(92.4338vw, -10px) scale(0.7686);
    animation: fall-44 17s -18s linear infinite;
  }
  @keyframes fall-44 {
    50.558% {
      transform: translate(96.2659vw, 50.558vh) scale(0.7686);
    }
    to {
      transform: translate(94.34985vw, 100vh) scale(0.7686);
    }
  }
  .snow:nth-child(45) {
    opacity: 0.3859;
    transform: translate(53.8495vw, -10px) scale(0.4801);
    animation: fall-45 23s -25s linear infinite;
  }
  @keyframes fall-45 {
    69.066% {
      transform: translate(47.6304vw, 69.066vh) scale(0.4801);
    }
    to {
      transform: translate(50.73995vw, 100vh) scale(0.4801);
    }
  }
  .snow:nth-child(46) {
    opacity: 0.6156;
    transform: translate(36.4256vw, -10px) scale(0.3964);
    animation: fall-46 30s -2s linear infinite;
  }
  @keyframes fall-46 {
    67.246% {
      transform: translate(41.901vw, 67.246vh) scale(0.3964);
    }
    to {
      transform: translate(39.1633vw, 100vh) scale(0.3964);
    }
  }
  .snow:nth-child(47) {
    opacity: 0.8348;
    transform: translate(84.8919vw, -10px) scale(0.1954);
    animation: fall-47 16s -18s linear infinite;
  }
  @keyframes fall-47 {
    58.857% {
      transform: translate(87.0015vw, 58.857vh) scale(0.1954);
    }
    to {
      transform: translate(85.9467vw, 100vh) scale(0.1954);
    }
  }
  .snow:nth-child(48) {
    opacity: 0.3477;
    transform: translate(40.9193vw, -10px) scale(0.3973);
    animation: fall-48 11s -9s linear infinite;
  }
  @keyframes fall-48 {
    71.084% {
      transform: translate(43.1249vw, 71.084vh) scale(0.3973);
    }
    to {
      transform: translate(42.0221vw, 100vh) scale(0.3973);
    }
  }
  .snow:nth-child(49) {
    opacity: 0.9083;
    transform: translate(54.1582vw, -10px) scale(0.0079);
    animation: fall-49 19s -29s linear infinite;
  }
  @keyframes fall-49 {
    60.86% {
      transform: translate(58.9706vw, 60.86vh) scale(0.0079);
    }
    to {
      transform: translate(56.5644vw, 100vh) scale(0.0079);
    }
  }
  .snow:nth-child(50) {
    opacity: 0.1098;
    transform: translate(43.3523vw, -10px) scale(0.6502);
    animation: fall-50 16s -22s linear infinite;
  }
  @keyframes fall-50 {
    39.949% {
      transform: translate(36.6789vw, 39.949vh) scale(0.6502);
    }
    to {
      transform: translate(40.0156vw, 100vh) scale(0.6502);
    }
  }
  .snow:nth-child(51) {
    opacity: 0.6166;
    transform: translate(32.1152vw, -10px) scale(0.3659);
    animation: fall-51 15s -3s linear infinite;
  }
  @keyframes fall-51 {
    71.739% {
      transform: translate(39.6175vw, 71.739vh) scale(0.3659);
    }
    to {
      transform: translate(35.86635vw, 100vh) scale(0.3659);
    }
  }
  .snow:nth-child(52) {
    opacity: 0.3005;
    transform: translate(8.7794vw, -10px) scale(0.0546);
    animation: fall-52 18s -11s linear infinite;
  }
  @keyframes fall-52 {
    59.784% {
      transform: translate(4.0451vw, 59.784vh) scale(0.0546);
    }
    to {
      transform: translate(6.41225vw, 100vh) scale(0.0546);
    }
  }
  .snow:nth-child(53) {
    opacity: 0.0173;
    transform: translate(31.7436vw, -10px) scale(0.9594);
    animation: fall-53 29s -27s linear infinite;
  }
  @keyframes fall-53 {
    76.928% {
      transform: translate(25.4813vw, 76.928vh) scale(0.9594);
    }
    to {
      transform: translate(28.61245vw, 100vh) scale(0.9594);
    }
  }
  .snow:nth-child(54) {
    opacity: 0.5202;
    transform: translate(20.4683vw, -10px) scale(0.805);
    animation: fall-54 10s -8s linear infinite;
  }
  @keyframes fall-54 {
    40.354% {
      transform: translate(28.9373vw, 40.354vh) scale(0.805);
    }
    to {
      transform: translate(24.7028vw, 100vh) scale(0.805);
    }
  }
  .snow:nth-child(55) {
    opacity: 0.141;
    transform: translate(97.5054vw, -10px) scale(0.4453);
    animation: fall-55 29s -1s linear infinite;
  }
  @keyframes fall-55 {
    45.96% {
      transform: translate(99.293vw, 45.96vh) scale(0.4453);
    }
    to {
      transform: translate(98.3992vw, 100vh) scale(0.4453);
    }
  }
  .snow:nth-child(56) {
    opacity: 0.1518;
    transform: translate(10.1319vw, -10px) scale(0.8342);
    animation: fall-56 14s -30s linear infinite;
  }
  @keyframes fall-56 {
    47.117% {
      transform: translate(8.4645vw, 47.117vh) scale(0.8342);
    }
    to {
      transform: translate(9.2982vw, 100vh) scale(0.8342);
    }
  }
  .snow:nth-child(57) {
    opacity: 0.7811;
    transform: translate(70.8985vw, -10px) scale(0.3035);
    animation: fall-57 25s -6s linear infinite;
  }
  @keyframes fall-57 {
    58.878% {
      transform: translate(71.6083vw, 58.878vh) scale(0.3035);
    }
    to {
      transform: translate(71.2534vw, 100vh) scale(0.3035);
    }
  }
  .snow:nth-child(58) {
    opacity: 0.487;
    transform: translate(87.5125vw, -10px) scale(0.4455);
    animation: fall-58 23s -26s linear infinite;
  }
  @keyframes fall-58 {
    69.717% {
      transform: translate(88.5207vw, 69.717vh) scale(0.4455);
    }
    to {
      transform: translate(88.0166vw, 100vh) scale(0.4455);
    }
  }
  .snow:nth-child(59) {
    opacity: 0.49;
    transform: translate(3.4245vw, -10px) scale(0.3398);
    animation: fall-59 15s -10s linear infinite;
  }
  @keyframes fall-59 {
    48.785% {
      transform: translate(3.3521vw, 48.785vh) scale(0.3398);
    }
    to {
      transform: translate(3.3883vw, 100vh) scale(0.3398);
    }
  }
  .snow:nth-child(60) {
    opacity: 0.4791;
    transform: translate(47.4098vw, -10px) scale(0.8778);
    animation: fall-60 28s -16s linear infinite;
  }
  @keyframes fall-60 {
    65.625% {
      transform: translate(41.7721vw, 65.625vh) scale(0.8778);
    }
    to {
      transform: translate(44.59095vw, 100vh) scale(0.8778);
    }
  }
  .snow:nth-child(61) {
    opacity: 0.9144;
    transform: translate(7.8302vw, -10px) scale(0.6845);
    animation: fall-61 24s -13s linear infinite;
  }
  @keyframes fall-61 {
    79.868% {
      transform: translate(6.1581vw, 79.868vh) scale(0.6845);
    }
    to {
      transform: translate(6.99415vw, 100vh) scale(0.6845);
    }
  }
  .snow:nth-child(62) {
    opacity: 0.2077;
    transform: translate(30.4051vw, -10px) scale(0.8926);
    animation: fall-62 19s -22s linear infinite;
  }
  @keyframes fall-62 {
    68.298% {
      transform: translate(34.8374vw, 68.298vh) scale(0.8926);
    }
    to {
      transform: translate(32.62125vw, 100vh) scale(0.8926);
    }
  }
  .snow:nth-child(63) {
    opacity: 0.8292;
    transform: translate(79.2841vw, -10px) scale(0.7563);
    animation: fall-63 22s -24s linear infinite;
  }
  @keyframes fall-63 {
    36.114% {
      transform: translate(87.2671vw, 36.114vh) scale(0.7563);
    }
    to {
      transform: translate(83.2756vw, 100vh) scale(0.7563);
    }
  }
  .snow:nth-child(64) {
    opacity: 0.387;
    transform: translate(46.7617vw, -10px) scale(0.2522);
    animation: fall-64 14s -29s linear infinite;
  }
  @keyframes fall-64 {
    75.428% {
      transform: translate(50.3033vw, 75.428vh) scale(0.2522);
    }
    to {
      transform: translate(48.5325vw, 100vh) scale(0.2522);
    }
  }
  .snow:nth-child(65) {
    opacity: 0.1978;
    transform: translate(95.2858vw, -10px) scale(0.4758);
    animation: fall-65 25s -14s linear infinite;
  }
  @keyframes fall-65 {
    50.216% {
      transform: translate(92.2943vw, 50.216vh) scale(0.4758);
    }
    to {
      transform: translate(93.79005vw, 100vh) scale(0.4758);
    }
  }
  .snow:nth-child(66) {
    opacity: 0.7888;
    transform: translate(8.2045vw, -10px) scale(0.6154);
    animation: fall-66 12s -26s linear infinite;
  }
  @keyframes fall-66 {
    69.111% {
      transform: translate(9.4906vw, 69.111vh) scale(0.6154);
    }
    to {
      transform: translate(8.84755vw, 100vh) scale(0.6154);
    }
  }
  .snow:nth-child(67) {
    opacity: 0.6189;
    transform: translate(75.4055vw, -10px) scale(0.0631);
    animation: fall-67 17s -18s linear infinite;
  }
  @keyframes fall-67 {
    48.589% {
      transform: translate(69.6258vw, 48.589vh) scale(0.0631);
    }
    to {
      transform: translate(72.51565vw, 100vh) scale(0.0631);
    }
  }
  .snow:nth-child(68) {
    opacity: 0.798;
    transform: translate(55.0962vw, -10px) scale(0.8408);
    animation: fall-68 27s -29s linear infinite;
  }
  @keyframes fall-68 {
    64.127% {
      transform: translate(45.3631vw, 64.127vh) scale(0.8408);
    }
    to {
      transform: translate(50.22965vw, 100vh) scale(0.8408);
    }
  }
  .snow:nth-child(69) {
    opacity: 0.8298;
    transform: translate(70.8651vw, -10px) scale(0.2941);
    animation: fall-69 29s -29s linear infinite;
  }
  @keyframes fall-69 {
    36.109% {
      transform: translate(65.617vw, 36.109vh) scale(0.2941);
    }
    to {
      transform: translate(68.24105vw, 100vh) scale(0.2941);
    }
  }
  .snow:nth-child(70) {
    opacity: 0.2911;
    transform: translate(15.5824vw, -10px) scale(0.2503);
    animation: fall-70 24s -30s linear infinite;
  }
  @keyframes fall-70 {
    63.683% {
      transform: translate(22.5703vw, 63.683vh) scale(0.2503);
    }
    to {
      transform: translate(19.07635vw, 100vh) scale(0.2503);
    }
  }
  .snow:nth-child(71) {
    opacity: 0.2479;
    transform: translate(38.6447vw, -10px) scale(0.8071);
    animation: fall-71 10s -9s linear infinite;
  }
  @keyframes fall-71 {
    48.088% {
      transform: translate(34.0543vw, 48.088vh) scale(0.8071);
    }
    to {
      transform: translate(36.3495vw, 100vh) scale(0.8071);
    }
  }
  .snow:nth-child(72) {
    opacity: 0.0543;
    transform: translate(51.766vw, -10px) scale(0.8035);
    animation: fall-72 22s -10s linear infinite;
  }
  @keyframes fall-72 {
    33.206% {
      transform: translate(55.1067vw, 33.206vh) scale(0.8035);
    }
    to {
      transform: translate(53.43635vw, 100vh) scale(0.8035);
    }
  }
  .snow:nth-child(73) {
    opacity: 0.5505;
    transform: translate(99.8196vw, -10px) scale(0.2607);
    animation: fall-73 24s -5s linear infinite;
  }
  @keyframes fall-73 {
    61.314% {
      transform: translate(100.4477vw, 61.314vh) scale(0.2607);
    }
    to {
      transform: translate(100.13365vw, 100vh) scale(0.2607);
    }
  }
  .snow:nth-child(74) {
    opacity: 0.4692;
    transform: translate(98.1385vw, -10px) scale(0.215);
    animation: fall-74 24s -21s linear infinite;
  }
  @keyframes fall-74 {
    50.811% {
      transform: translate(93.2544vw, 50.811vh) scale(0.215);
    }
    to {
      transform: translate(95.69645vw, 100vh) scale(0.215);
    }
  }
  .snow:nth-child(75) {
    opacity: 0.32;
    transform: translate(29.185vw, -10px) scale(0.3767);
    animation: fall-75 17s -10s linear infinite;
  }
  @keyframes fall-75 {
    32.577% {
      transform: translate(31.7637vw, 32.577vh) scale(0.3767);
    }
    to {
      transform: translate(30.47435vw, 100vh) scale(0.3767);
    }
  }
  .snow:nth-child(76) {
    opacity: 0.3318;
    transform: translate(72.8649vw, -10px) scale(0.2248);
    animation: fall-76 20s -24s linear infinite;
  }
  @keyframes fall-76 {
    56.768% {
      transform: translate(79.427vw, 56.768vh) scale(0.2248);
    }
    to {
      transform: translate(76.14595vw, 100vh) scale(0.2248);
    }
  }
  .snow:nth-child(77) {
    opacity: 0.5164;
    transform: translate(59.9157vw, -10px) scale(0.4784);
    animation: fall-77 30s -28s linear infinite;
  }
  @keyframes fall-77 {
    46.131% {
      transform: translate(67.9077vw, 46.131vh) scale(0.4784);
    }
    to {
      transform: translate(63.9117vw, 100vh) scale(0.4784);
    }
  }
  .snow:nth-child(78) {
    opacity: 0.1006;
    transform: translate(14.1474vw, -10px) scale(0.4765);
    animation: fall-78 29s -26s linear infinite;
  }
  @keyframes fall-78 {
    44.144% {
      transform: translate(14.1989vw, 44.144vh) scale(0.4765);
    }
    to {
      transform: translate(14.17315vw, 100vh) scale(0.4765);
    }
  }
  .snow:nth-child(79) {
    opacity: 0.3538;
    transform: translate(79.495vw, -10px) scale(0.8819);
    animation: fall-79 26s -25s linear infinite;
  }
  @keyframes fall-79 {
    34.2% {
      transform: translate(76.5099vw, 34.2vh) scale(0.8819);
    }
    to {
      transform: translate(78.00245vw, 100vh) scale(0.8819);
    }
  }
  .snow:nth-child(80) {
    opacity: 0.2205;
    transform: translate(11.9905vw, -10px) scale(0.6232);
    animation: fall-80 27s -14s linear infinite;
  }
  @keyframes fall-80 {
    64.03% {
      transform: translate(14.2445vw, 64.03vh) scale(0.6232);
    }
    to {
      transform: translate(13.1175vw, 100vh) scale(0.6232);
    }
  }
  .snow:nth-child(81) {
    opacity: 0.9955;
    transform: translate(54.2868vw, -10px) scale(0.3731);
    animation: fall-81 29s -5s linear infinite;
  }
  @keyframes fall-81 {
    75.603% {
      transform: translate(62.4302vw, 75.603vh) scale(0.3731);
    }
    to {
      transform: translate(58.3585vw, 100vh) scale(0.3731);
    }
  }
  .snow:nth-child(82) {
    opacity: 0.5188;
    transform: translate(92.1719vw, -10px) scale(0.8409);
    animation: fall-82 15s -11s linear infinite;
  }
  @keyframes fall-82 {
    41.208% {
      transform: translate(94.5622vw, 41.208vh) scale(0.8409);
    }
    to {
      transform: translate(93.36705vw, 100vh) scale(0.8409);
    }
  }
  .snow:nth-child(83) {
    opacity: 0.1399;
    transform: translate(62.5578vw, -10px) scale(0.5177);
    animation: fall-83 17s -15s linear infinite;
  }
  @keyframes fall-83 {
    65.767% {
      transform: translate(58.2935vw, 65.767vh) scale(0.5177);
    }
    to {
      transform: translate(60.42565vw, 100vh) scale(0.5177);
    }
  }
  .snow:nth-child(84) {
    opacity: 0.3118;
    transform: translate(45.4247vw, -10px) scale(0.4814);
    animation: fall-84 25s -9s linear infinite;
  }
  @keyframes fall-84 {
    67.982% {
      transform: translate(51.3904vw, 67.982vh) scale(0.4814);
    }
    to {
      transform: translate(48.40755vw, 100vh) scale(0.4814);
    }
  }
  .snow:nth-child(85) {
    opacity: 0.0444;
    transform: translate(48.097vw, -10px) scale(0.8984);
    animation: fall-85 30s -26s linear infinite;
  }
  @keyframes fall-85 {
    30.662% {
      transform: translate(39.3896vw, 30.662vh) scale(0.8984);
    }
    to {
      transform: translate(43.7433vw, 100vh) scale(0.8984);
    }
  }
  .snow:nth-child(86) {
    opacity: 0.3447;
    transform: translate(41.8149vw, -10px) scale(0.9607);
    animation: fall-86 15s -2s linear infinite;
  }
  @keyframes fall-86 {
    78.584% {
      transform: translate(49.5206vw, 78.584vh) scale(0.9607);
    }
    to {
      transform: translate(45.66775vw, 100vh) scale(0.9607);
    }
  }
  .snow:nth-child(87) {
    opacity: 0.9145;
    transform: translate(29.068vw, -10px) scale(0.3628);
    animation: fall-87 24s -23s linear infinite;
  }
  @keyframes fall-87 {
    36.778% {
      transform: translate(31.369vw, 36.778vh) scale(0.3628);
    }
    to {
      transform: translate(30.2185vw, 100vh) scale(0.3628);
    }
  }
  .snow:nth-child(88) {
    opacity: 0.6861;
    transform: translate(45.1474vw, -10px) scale(0.3579);
    animation: fall-88 30s -21s linear infinite;
  }
  @keyframes fall-88 {
    49.926% {
      transform: translate(36.9167vw, 49.926vh) scale(0.3579);
    }
    to {
      transform: translate(41.03205vw, 100vh) scale(0.3579);
    }
  }
  .snow:nth-child(89) {
    opacity: 0.9253;
    transform: translate(20.567vw, -10px) scale(0.7126);
    animation: fall-89 27s -3s linear infinite;
  }
  @keyframes fall-89 {
    31.538% {
      transform: translate(30.2135vw, 31.538vh) scale(0.7126);
    }
    to {
      transform: translate(25.39025vw, 100vh) scale(0.7126);
    }
  }
  .snow:nth-child(90) {
    opacity: 0.1068;
    transform: translate(99.1878vw, -10px) scale(0.7706);
    animation: fall-90 15s -18s linear infinite;
  }
  @keyframes fall-90 {
    30.896% {
      transform: translate(107.356vw, 30.896vh) scale(0.7706);
    }
    to {
      transform: translate(103.2719vw, 100vh) scale(0.7706);
    }
  }
  .snow:nth-child(91) {
    opacity: 0.2524;
    transform: translate(36.5782vw, -10px) scale(0.8762);
    animation: fall-91 12s -20s linear infinite;
  }
  @keyframes fall-91 {
    47.385% {
      transform: translate(28.6098vw, 47.385vh) scale(0.8762);
    }
    to {
      transform: translate(32.594vw, 100vh) scale(0.8762);
    }
  }
  .snow:nth-child(92) {
    opacity: 0.9212;
    transform: translate(94.8746vw, -10px) scale(0.1373);
    animation: fall-92 20s -20s linear infinite;
  }
  @keyframes fall-92 {
    71.111% {
      transform: translate(85.1171vw, 71.111vh) scale(0.1373);
    }
    to {
      transform: translate(89.99585vw, 100vh) scale(0.1373);
    }
  }
  .snow:nth-child(93) {
    opacity: 0.487;
    transform: translate(11.1564vw, -10px) scale(0.4457);
    animation: fall-93 15s -13s linear infinite;
  }
  @keyframes fall-93 {
    40.403% {
      transform: translate(1.5004vw, 40.403vh) scale(0.4457);
    }
    to {
      transform: translate(6.3284vw, 100vh) scale(0.4457);
    }
  }
  .snow:nth-child(94) {
    opacity: 0.0356;
    transform: translate(46.9935vw, -10px) scale(0.0622);
    animation: fall-94 22s -3s linear infinite;
  }
  @keyframes fall-94 {
    58.767% {
      transform: translate(51.1119vw, 58.767vh) scale(0.0622);
    }
    to {
      transform: translate(49.0527vw, 100vh) scale(0.0622);
    }
  }
  .snow:nth-child(95) {
    opacity: 0.2743;
    transform: translate(1.7956vw, -10px) scale(0.6608);
    animation: fall-95 29s -4s linear infinite;
  }
  @keyframes fall-95 {
    66.394% {
      transform: translate(-1.9801vw, 66.394vh) scale(0.6608);
    }
    to {
      transform: translate(-0.09225vw, 100vh) scale(0.6608);
    }
  }
  .snow:nth-child(96) {
    opacity: 0.8136;
    transform: translate(72.5307vw, -10px) scale(0.4185);
    animation: fall-96 15s -26s linear infinite;
  }
  @keyframes fall-96 {
    51.561% {
      transform: translate(75.9366vw, 51.561vh) scale(0.4185);
    }
    to {
      transform: translate(74.23365vw, 100vh) scale(0.4185);
    }
  }
  .snow:nth-child(97) {
    opacity: 0.1317;
    transform: translate(99.9929vw, -10px) scale(0.4757);
    animation: fall-97 24s -12s linear infinite;
  }
  @keyframes fall-97 {
    56.693% {
      transform: translate(99.8911vw, 56.693vh) scale(0.4757);
    }
    to {
      transform: translate(99.942vw, 100vh) scale(0.4757);
    }
  }
  .snow:nth-child(98) {
    opacity: 0.2556;
    transform: translate(91.2527vw, -10px) scale(0.7964);
    animation: fall-98 17s -30s linear infinite;
  }
  @keyframes fall-98 {
    36.494% {
      transform: translate(91.9769vw, 36.494vh) scale(0.7964);
    }
    to {
      transform: translate(91.6148vw, 100vh) scale(0.7964);
    }
  }
  .snow:nth-child(99) {
    opacity: 0.4921;
    transform: translate(80.8051vw, -10px) scale(0.5073);
    animation: fall-99 29s -13s linear infinite;
  }
  @keyframes fall-99 {
    38.428% {
      transform: translate(73.1275vw, 38.428vh) scale(0.5073);
    }
    to {
      transform: translate(76.9663vw, 100vh) scale(0.5073);
    }
  }
  .snow:nth-child(100) {
    opacity: 0.3576;
    transform: translate(60.1567vw, -10px) scale(0.5102);
    animation: fall-100 26s -4s linear infinite;
  }
  @keyframes fall-100 {
    34.051% {
      transform: translate(54.6892vw, 34.051vh) scale(0.5102);
    }
    to {
      transform: translate(57.42295vw, 100vh) scale(0.5102);
    }
  }
  .snow:nth-child(101) {
    opacity: 0.3854;
    transform: translate(62.2564vw, -10px) scale(0.4567);
    animation: fall-101 17s -15s linear infinite;
  }
  @keyframes fall-101 {
    52.559% {
      transform: translate(68.1863vw, 52.559vh) scale(0.4567);
    }
    to {
      transform: translate(65.22135vw, 100vh) scale(0.4567);
    }
  }
  .snow:nth-child(102) {
    opacity: 0.4526;
    transform: translate(34.8602vw, -10px) scale(0.6968);
    animation: fall-102 26s -14s linear infinite;
  }
  @keyframes fall-102 {
    67.998% {
      transform: translate(32.2494vw, 67.998vh) scale(0.6968);
    }
    to {
      transform: translate(33.5548vw, 100vh) scale(0.6968);
    }
  }
  .snow:nth-child(103) {
    opacity: 0.9453;
    transform: translate(71.7294vw, -10px) scale(0.348);
    animation: fall-103 18s -15s linear infinite;
  }
  @keyframes fall-103 {
    40.306% {
      transform: translate(66.6412vw, 40.306vh) scale(0.348);
    }
    to {
      transform: translate(69.1853vw, 100vh) scale(0.348);
    }
  }
  .snow:nth-child(104) {
    opacity: 0.8454;
    transform: translate(24.9718vw, -10px) scale(0.4406);
    animation: fall-104 18s -27s linear infinite;
  }
  @keyframes fall-104 {
    65.759% {
      transform: translate(28.2039vw, 65.759vh) scale(0.4406);
    }
    to {
      transform: translate(26.58785vw, 100vh) scale(0.4406);
    }
  }
  .snow:nth-child(105) {
    opacity: 0.053;
    transform: translate(96.4237vw, -10px) scale(0.6537);
    animation: fall-105 13s -10s linear infinite;
  }
  @keyframes fall-105 {
    57.225% {
      transform: translate(105.7099vw, 57.225vh) scale(0.6537);
    }
    to {
      transform: translate(101.0668vw, 100vh) scale(0.6537);
    }
  }
  .snow:nth-child(106) {
    opacity: 0.0023;
    transform: translate(87.4884vw, -10px) scale(0.5175);
    animation: fall-106 25s -12s linear infinite;
  }
  @keyframes fall-106 {
    49.519% {
      transform: translate(93.553vw, 49.519vh) scale(0.5175);
    }
    to {
      transform: translate(90.5207vw, 100vh) scale(0.5175);
    }
  }
  .snow:nth-child(107) {
    opacity: 0.8414;
    transform: translate(47.2971vw, -10px) scale(0.0246);
    animation: fall-107 18s -22s linear infinite;
  }
  @keyframes fall-107 {
    78.19% {
      transform: translate(38.5706vw, 78.19vh) scale(0.0246);
    }
    to {
      transform: translate(42.93385vw, 100vh) scale(0.0246);
    }
  }
  .snow:nth-child(108) {
    opacity: 0.5107;
    transform: translate(11.3979vw, -10px) scale(0.2831);
    animation: fall-108 17s -9s linear infinite;
  }
  @keyframes fall-108 {
    42.372% {
      transform: translate(8.1049vw, 42.372vh) scale(0.2831);
    }
    to {
      transform: translate(9.7514vw, 100vh) scale(0.2831);
    }
  }
  .snow:nth-child(109) {
    opacity: 0.9222;
    transform: translate(47.4396vw, -10px) scale(0.627);
    animation: fall-109 13s -24s linear infinite;
  }
  @keyframes fall-109 {
    45.097% {
      transform: translate(54.6189vw, 45.097vh) scale(0.627);
    }
    to {
      transform: translate(51.02925vw, 100vh) scale(0.627);
    }
  }
  .snow:nth-child(110) {
    opacity: 0.0424;
    transform: translate(13.5742vw, -10px) scale(0.5545);
    animation: fall-110 25s -1s linear infinite;
  }
  @keyframes fall-110 {
    78.547% {
      transform: translate(14.0865vw, 78.547vh) scale(0.5545);
    }
    to {
      transform: translate(13.83035vw, 100vh) scale(0.5545);
    }
  }
  .snow:nth-child(111) {
    opacity: 0.3294;
    transform: translate(30.0912vw, -10px) scale(0.6067);
    animation: fall-111 23s -25s linear infinite;
  }
  @keyframes fall-111 {
    78.629% {
      transform: translate(25.1158vw, 78.629vh) scale(0.6067);
    }
    to {
      transform: translate(27.6035vw, 100vh) scale(0.6067);
    }
  }
  .snow:nth-child(112) {
    opacity: 0.1131;
    transform: translate(35.4017vw, -10px) scale(0.6008);
    animation: fall-112 12s -26s linear infinite;
  }
  @keyframes fall-112 {
    53.191% {
      transform: translate(28.0314vw, 53.191vh) scale(0.6008);
    }
    to {
      transform: translate(31.71655vw, 100vh) scale(0.6008);
    }
  }
  .snow:nth-child(113) {
    opacity: 0.5876;
    transform: translate(51.1217vw, -10px) scale(0.5541);
    animation: fall-113 14s -2s linear infinite;
  }
  @keyframes fall-113 {
    51.657% {
      transform: translate(43.8511vw, 51.657vh) scale(0.5541);
    }
    to {
      transform: translate(47.4864vw, 100vh) scale(0.5541);
    }
  }
  .snow:nth-child(114) {
    opacity: 0.7709;
    transform: translate(46.3249vw, -10px) scale(0.9377);
    animation: fall-114 12s -29s linear infinite;
  }
  @keyframes fall-114 {
    38.951% {
      transform: translate(52.749vw, 38.951vh) scale(0.9377);
    }
    to {
      transform: translate(49.53695vw, 100vh) scale(0.9377);
    }
  }
  .snow:nth-child(115) {
    opacity: 0.1083;
    transform: translate(88.863vw, -10px) scale(0.1292);
    animation: fall-115 27s -5s linear infinite;
  }
  @keyframes fall-115 {
    34.147% {
      transform: translate(90.4939vw, 34.147vh) scale(0.1292);
    }
    to {
      transform: translate(89.67845vw, 100vh) scale(0.1292);
    }
  }
  .snow:nth-child(116) {
    opacity: 0.9374;
    transform: translate(3.2747vw, -10px) scale(0.1883);
    animation: fall-116 21s -13s linear infinite;
  }
  @keyframes fall-116 {
    74.4% {
      transform: translate(-3.111vw, 74.4vh) scale(0.1883);
    }
    to {
      transform: translate(0.08185vw, 100vh) scale(0.1883);
    }
  }
  .snow:nth-child(117) {
    opacity: 0.1859;
    transform: translate(93.8125vw, -10px) scale(0.0084);
    animation: fall-117 16s -24s linear infinite;
  }
  @keyframes fall-117 {
    37.017% {
      transform: translate(99.1286vw, 37.017vh) scale(0.0084);
    }
    to {
      transform: translate(96.47055vw, 100vh) scale(0.0084);
    }
  }
  .snow:nth-child(118) {
    opacity: 0.8451;
    transform: translate(25.7473vw, -10px) scale(0.2587);
    animation: fall-118 28s -2s linear infinite;
  }
  @keyframes fall-118 {
    45.254% {
      transform: translate(22.3152vw, 45.254vh) scale(0.2587);
    }
    to {
      transform: translate(24.03125vw, 100vh) scale(0.2587);
    }
  }
  .snow:nth-child(119) {
    opacity: 0.6179;
    transform: translate(82.0716vw, -10px) scale(0.9376);
    animation: fall-119 30s -21s linear infinite;
  }
  @keyframes fall-119 {
    65.115% {
      transform: translate(85.8189vw, 65.115vh) scale(0.9376);
    }
    to {
      transform: translate(83.94525vw, 100vh) scale(0.9376);
    }
  }
  .snow:nth-child(120) {
    opacity: 0.8128;
    transform: translate(48.6469vw, -10px) scale(0.7145);
    animation: fall-120 27s -28s linear infinite;
  }
  @keyframes fall-120 {
    35.283% {
      transform: translate(51.2378vw, 35.283vh) scale(0.7145);
    }
    to {
      transform: translate(49.94235vw, 100vh) scale(0.7145);
    }
  }
  .snow:nth-child(121) {
    opacity: 0.5455;
    transform: translate(5.3803vw, -10px) scale(0.9011);
    animation: fall-121 16s -8s linear infinite;
  }
  @keyframes fall-121 {
    59.038% {
      transform: translate(1.6985vw, 59.038vh) scale(0.9011);
    }
    to {
      transform: translate(3.5394vw, 100vh) scale(0.9011);
    }
  }
  .snow:nth-child(122) {
    opacity: 0.7374;
    transform: translate(33.2922vw, -10px) scale(0.4794);
    animation: fall-122 24s -18s linear infinite;
  }
  @keyframes fall-122 {
    55.66% {
      transform: translate(43.0912vw, 55.66vh) scale(0.4794);
    }
    to {
      transform: translate(38.1917vw, 100vh) scale(0.4794);
    }
  }
  .snow:nth-child(123) {
    opacity: 0.8921;
    transform: translate(72.3164vw, -10px) scale(0.8706);
    animation: fall-123 26s -13s linear infinite;
  }
  @keyframes fall-123 {
    68.68% {
      transform: translate(74.9904vw, 68.68vh) scale(0.8706);
    }
    to {
      transform: translate(73.6534vw, 100vh) scale(0.8706);
    }
  }
  .snow:nth-child(124) {
    opacity: 0.9464;
    transform: translate(8.7448vw, -10px) scale(0.1041);
    animation: fall-124 22s -26s linear infinite;
  }
  @keyframes fall-124 {
    57.792% {
      transform: translate(2.5219vw, 57.792vh) scale(0.1041);
    }
    to {
      transform: translate(5.63335vw, 100vh) scale(0.1041);
    }
  }
  .snow:nth-child(125) {
    opacity: 0.3653;
    transform: translate(65.9763vw, -10px) scale(0.5419);
    animation: fall-125 23s -8s linear infinite;
  }
  @keyframes fall-125 {
    35.745% {
      transform: translate(68.0312vw, 35.745vh) scale(0.5419);
    }
    to {
      transform: translate(67.00375vw, 100vh) scale(0.5419);
    }
  }
  .snow:nth-child(126) {
    opacity: 0.3118;
    transform: translate(58.1025vw, -10px) scale(0.8528);
    animation: fall-126 17s -20s linear infinite;
  }
  @keyframes fall-126 {
    63.236% {
      transform: translate(65.0703vw, 63.236vh) scale(0.8528);
    }
    to {
      transform: translate(61.5864vw, 100vh) scale(0.8528);
    }
  }
  .snow:nth-child(127) {
    opacity: 0.5101;
    transform: translate(0.2806vw, -10px) scale(0.6402);
    animation: fall-127 14s -1s linear infinite;
  }
  @keyframes fall-127 {
    38.419% {
      transform: translate(3.3905vw, 38.419vh) scale(0.6402);
    }
    to {
      transform: translate(1.83555vw, 100vh) scale(0.6402);
    }
  }
  .snow:nth-child(128) {
    opacity: 0.0975;
    transform: translate(47.4881vw, -10px) scale(0.3719);
    animation: fall-128 27s -2s linear infinite;
  }
  @keyframes fall-128 {
    32.419% {
      transform: translate(52.5268vw, 32.419vh) scale(0.3719);
    }
    to {
      transform: translate(50.00745vw, 100vh) scale(0.3719);
    }
  }
  .snow:nth-child(129) {
    opacity: 0.807;
    transform: translate(63.5926vw, -10px) scale(0.2404);
    animation: fall-129 14s -22s linear infinite;
  }
  @keyframes fall-129 {
    34.152% {
      transform: translate(57.8076vw, 34.152vh) scale(0.2404);
    }
    to {
      transform: translate(60.7001vw, 100vh) scale(0.2404);
    }
  }
  .snow:nth-child(130) {
    opacity: 0.6677;
    transform: translate(0.9936vw, -10px) scale(0.2528);
    animation: fall-130 29s -16s linear infinite;
  }
  @keyframes fall-130 {
    75.975% {
      transform: translate(-6.7314vw, 75.975vh) scale(0.2528);
    }
    to {
      transform: translate(-2.8689vw, 100vh) scale(0.2528);
    }
  }
  .snow:nth-child(131) {
    opacity: 0.9534;
    transform: translate(57.5513vw, -10px) scale(0.8573);
    animation: fall-131 14s -6s linear infinite;
  }
  @keyframes fall-131 {
    70.201% {
      transform: translate(59.0229vw, 70.201vh) scale(0.8573);
    }
    to {
      transform: translate(58.2871vw, 100vh) scale(0.8573);
    }
  }
  .snow:nth-child(132) {
    opacity: 0.0836;
    transform: translate(18.5626vw, -10px) scale(0.1959);
    animation: fall-132 27s -17s linear infinite;
  }
  @keyframes fall-132 {
    78.166% {
      transform: translate(10.7403vw, 78.166vh) scale(0.1959);
    }
    to {
      transform: translate(14.65145vw, 100vh) scale(0.1959);
    }
  }
  .snow:nth-child(133) {
    opacity: 0.9193;
    transform: translate(36.4449vw, -10px) scale(0.2673);
    animation: fall-133 22s -29s linear infinite;
  }
  @keyframes fall-133 {
    53.978% {
      transform: translate(42.4359vw, 53.978vh) scale(0.2673);
    }
    to {
      transform: translate(39.4404vw, 100vh) scale(0.2673);
    }
  }
  .snow:nth-child(134) {
    opacity: 0.4288;
    transform: translate(90.0872vw, -10px) scale(0.0197);
    animation: fall-134 16s -11s linear infinite;
  }
  @keyframes fall-134 {
    45.605% {
      transform: translate(89.9381vw, 45.605vh) scale(0.0197);
    }
    to {
      transform: translate(90.01265vw, 100vh) scale(0.0197);
    }
  }
  .snow:nth-child(135) {
    opacity: 0.9758;
    transform: translate(58.8182vw, -10px) scale(0.1735);
    animation: fall-135 12s -14s linear infinite;
  }
  @keyframes fall-135 {
    76.969% {
      transform: translate(55.0221vw, 76.969vh) scale(0.1735);
    }
    to {
      transform: translate(56.92015vw, 100vh) scale(0.1735);
    }
  }
  .snow:nth-child(136) {
    opacity: 0.8742;
    transform: translate(43.5688vw, -10px) scale(0.2366);
    animation: fall-136 19s -1s linear infinite;
  }
  @keyframes fall-136 {
    61.671% {
      transform: translate(45.7464vw, 61.671vh) scale(0.2366);
    }
    to {
      transform: translate(44.6576vw, 100vh) scale(0.2366);
    }
  }
  .snow:nth-child(137) {
    opacity: 0.3016;
    transform: translate(48.6483vw, -10px) scale(0.7966);
    animation: fall-137 22s -5s linear infinite;
  }
  @keyframes fall-137 {
    48.675% {
      transform: translate(45.6885vw, 48.675vh) scale(0.7966);
    }
    to {
      transform: translate(47.1684vw, 100vh) scale(0.7966);
    }
  }
  .snow:nth-child(138) {
    opacity: 0.2376;
    transform: translate(31.3265vw, -10px) scale(0.6813);
    animation: fall-138 25s -1s linear infinite;
  }
  @keyframes fall-138 {
    48.928% {
      transform: translate(38.4431vw, 48.928vh) scale(0.6813);
    }
    to {
      transform: translate(34.8848vw, 100vh) scale(0.6813);
    }
  }
  .snow:nth-child(139) {
    opacity: 0.7195;
    transform: translate(49.4169vw, -10px) scale(0.758);
    animation: fall-139 29s -11s linear infinite;
  }
  @keyframes fall-139 {
    32.183% {
      transform: translate(51.656vw, 32.183vh) scale(0.758);
    }
    to {
      transform: translate(50.53645vw, 100vh) scale(0.758);
    }
  }
  .snow:nth-child(140) {
    opacity: 0.52;
    transform: translate(79.9705vw, -10px) scale(0.5062);
    animation: fall-140 18s -16s linear infinite;
  }
  @keyframes fall-140 {
    56.024% {
      transform: translate(83.7141vw, 56.024vh) scale(0.5062);
    }
    to {
      transform: translate(81.8423vw, 100vh) scale(0.5062);
    }
  }
  .snow:nth-child(141) {
    opacity: 0.8772;
    transform: translate(44.7vw, -10px) scale(0.9979);
    animation: fall-141 12s -10s linear infinite;
  }
  @keyframes fall-141 {
    34.504% {
      transform: translate(53.58vw, 34.504vh) scale(0.9979);
    }
    to {
      transform: translate(49.14vw, 100vh) scale(0.9979);
    }
  }
  .snow:nth-child(142) {
    opacity: 0.0847;
    transform: translate(42.3155vw, -10px) scale(0.2131);
    animation: fall-142 20s -5s linear infinite;
  }
  @keyframes fall-142 {
    48.049% {
      transform: translate(43.8869vw, 48.049vh) scale(0.2131);
    }
    to {
      transform: translate(43.1012vw, 100vh) scale(0.2131);
    }
  }
  .snow:nth-child(143) {
    opacity: 0.7121;
    transform: translate(62.1006vw, -10px) scale(0.2344);
    animation: fall-143 20s -5s linear infinite;
  }
  @keyframes fall-143 {
    33.172% {
      transform: translate(52.855vw, 33.172vh) scale(0.2344);
    }
    to {
      transform: translate(57.4778vw, 100vh) scale(0.2344);
    }
  }
  .snow:nth-child(144) {
    opacity: 0.6791;
    transform: translate(51.3335vw, -10px) scale(0.1488);
    animation: fall-144 15s -24s linear infinite;
  }
  @keyframes fall-144 {
    34.491% {
      transform: translate(55.959vw, 34.491vh) scale(0.1488);
    }
    to {
      transform: translate(53.64625vw, 100vh) scale(0.1488);
    }
  }
  .snow:nth-child(145) {
    opacity: 0.6009;
    transform: translate(91.0466vw, -10px) scale(0.4688);
    animation: fall-145 27s -11s linear infinite;
  }
  @keyframes fall-145 {
    75.458% {
      transform: translate(96.0622vw, 75.458vh) scale(0.4688);
    }
    to {
      transform: translate(93.5544vw, 100vh) scale(0.4688);
    }
  }
  .snow:nth-child(146) {
    opacity: 0.5429;
    transform: translate(15.4016vw, -10px) scale(0.475);
    animation: fall-146 25s -16s linear infinite;
  }
  @keyframes fall-146 {
    57.85% {
      transform: translate(16.4188vw, 57.85vh) scale(0.475);
    }
    to {
      transform: translate(15.9102vw, 100vh) scale(0.475);
    }
  }
  .snow:nth-child(147) {
    opacity: 0.0526;
    transform: translate(18.3993vw, -10px) scale(0.6603);
    animation: fall-147 12s -3s linear infinite;
  }
  @keyframes fall-147 {
    33.023% {
      transform: translate(19.8762vw, 33.023vh) scale(0.6603);
    }
    to {
      transform: translate(19.13775vw, 100vh) scale(0.6603);
    }
  }
  .snow:nth-child(148) {
    opacity: 0.4503;
    transform: translate(95.4663vw, -10px) scale(0.2997);
    animation: fall-148 24s -13s linear infinite;
  }
  @keyframes fall-148 {
    44.778% {
      transform: translate(101.8398vw, 44.778vh) scale(0.2997);
    }
    to {
      transform: translate(98.65305vw, 100vh) scale(0.2997);
    }
  }
  .snow:nth-child(149) {
    opacity: 0.658;
    transform: translate(33.2825vw, -10px) scale(0.8566);
    animation: fall-149 17s -11s linear infinite;
  }
  @keyframes fall-149 {
    44.552% {
      transform: translate(25.0599vw, 44.552vh) scale(0.8566);
    }
    to {
      transform: translate(29.1712vw, 100vh) scale(0.8566);
    }
  }
  .snow:nth-child(150) {
    opacity: 0.3778;
    transform: translate(91.741vw, -10px) scale(0.3246);
    animation: fall-150 20s -6s linear infinite;
  }
  @keyframes fall-150 {
    54.918% {
      transform: translate(95.9212vw, 54.918vh) scale(0.3246);
    }
    to {
      transform: translate(93.8311vw, 100vh) scale(0.3246);
    }
  }
  .snow:nth-child(151) {
    opacity: 0.5521;
    transform: translate(32.7062vw, -10px) scale(0.9841);
    animation: fall-151 18s -2s linear infinite;
  }
  @keyframes fall-151 {
    77.566% {
      transform: translate(38.5541vw, 77.566vh) scale(0.9841);
    }
    to {
      transform: translate(35.63015vw, 100vh) scale(0.9841);
    }
  }
  .snow:nth-child(152) {
    opacity: 0.2065;
    transform: translate(5.0054vw, -10px) scale(0.4994);
    animation: fall-152 14s -24s linear infinite;
  }
  @keyframes fall-152 {
    45.187% {
      transform: translate(13.7759vw, 45.187vh) scale(0.4994);
    }
    to {
      transform: translate(9.39065vw, 100vh) scale(0.4994);
    }
  }
  .snow:nth-child(153) {
    opacity: 0.3031;
    transform: translate(98.0909vw, -10px) scale(0.8408);
    animation: fall-153 13s -7s linear infinite;
  }
  @keyframes fall-153 {
    37.542% {
      transform: translate(99.1776vw, 37.542vh) scale(0.8408);
    }
    to {
      transform: translate(98.63425vw, 100vh) scale(0.8408);
    }
  }
  .snow:nth-child(154) {
    opacity: 0.4778;
    transform: translate(9.4871vw, -10px) scale(0.3244);
    animation: fall-154 30s -27s linear infinite;
  }
  @keyframes fall-154 {
    53.845% {
      transform: translate(16.8766vw, 53.845vh) scale(0.3244);
    }
    to {
      transform: translate(13.18185vw, 100vh) scale(0.3244);
    }
  }
  .snow:nth-child(155) {
    opacity: 0.0998;
    transform: translate(9.6229vw, -10px) scale(0.4711);
    animation: fall-155 23s -5s linear infinite;
  }
  @keyframes fall-155 {
    31.814% {
      transform: translate(15.6012vw, 31.814vh) scale(0.4711);
    }
    to {
      transform: translate(12.61205vw, 100vh) scale(0.4711);
    }
  }
  .snow:nth-child(156) {
    opacity: 0.1461;
    transform: translate(22.0892vw, -10px) scale(0.2081);
    animation: fall-156 24s -26s linear infinite;
  }
  @keyframes fall-156 {
    34.604% {
      transform: translate(29.7161vw, 34.604vh) scale(0.2081);
    }
    to {
      transform: translate(25.90265vw, 100vh) scale(0.2081);
    }
  }
  .snow:nth-child(157) {
    opacity: 0.6853;
    transform: translate(75.1107vw, -10px) scale(0.319);
    animation: fall-157 29s -29s linear infinite;
  }
  @keyframes fall-157 {
    62.979% {
      transform: translate(82.3726vw, 62.979vh) scale(0.319);
    }
    to {
      transform: translate(78.74165vw, 100vh) scale(0.319);
    }
  }
  .snow:nth-child(158) {
    opacity: 0.084;
    transform: translate(26.9988vw, -10px) scale(0.0561);
    animation: fall-158 17s -18s linear infinite;
  }
  @keyframes fall-158 {
    31.966% {
      transform: translate(20.253vw, 31.966vh) scale(0.0561);
    }
    to {
      transform: translate(23.6259vw, 100vh) scale(0.0561);
    }
  }
  .snow:nth-child(159) {
    opacity: 0.1447;
    transform: translate(98.536vw, -10px) scale(0.0988);
    animation: fall-159 26s -14s linear infinite;
  }
  @keyframes fall-159 {
    46.833% {
      transform: translate(98.7925vw, 46.833vh) scale(0.0988);
    }
    to {
      transform: translate(98.66425vw, 100vh) scale(0.0988);
    }
  }
  .snow:nth-child(160) {
    opacity: 0.9799;
    transform: translate(41.373vw, -10px) scale(0.6677);
    animation: fall-160 22s -1s linear infinite;
  }
  @keyframes fall-160 {
    58.499% {
      transform: translate(41.5554vw, 58.499vh) scale(0.6677);
    }
    to {
      transform: translate(41.4642vw, 100vh) scale(0.6677);
    }
  }
  .snow:nth-child(161) {
    opacity: 0.6637;
    transform: translate(38.474vw, -10px) scale(0.9819);
    animation: fall-161 15s -16s linear infinite;
  }
  @keyframes fall-161 {
    36.739% {
      transform: translate(35.7193vw, 36.739vh) scale(0.9819);
    }
    to {
      transform: translate(37.09665vw, 100vh) scale(0.9819);
    }
  }
  .snow:nth-child(162) {
    opacity: 0.5547;
    transform: translate(32.9271vw, -10px) scale(0.7026);
    animation: fall-162 21s -11s linear infinite;
  }
  @keyframes fall-162 {
    59.258% {
      transform: translate(27.6689vw, 59.258vh) scale(0.7026);
    }
    to {
      transform: translate(30.298vw, 100vh) scale(0.7026);
    }
  }
  .snow:nth-child(163) {
    opacity: 0.9425;
    transform: translate(33.5214vw, -10px) scale(0.0957);
    animation: fall-163 13s -28s linear infinite;
  }
  @keyframes fall-163 {
    72.658% {
      transform: translate(38.5232vw, 72.658vh) scale(0.0957);
    }
    to {
      transform: translate(36.0223vw, 100vh) scale(0.0957);
    }
  }
  .snow:nth-child(164) {
    opacity: 0.9453;
    transform: translate(95.3139vw, -10px) scale(0.3932);
    animation: fall-164 16s -24s linear infinite;
  }
  @keyframes fall-164 {
    55.025% {
      transform: translate(93.7599vw, 55.025vh) scale(0.3932);
    }
    to {
      transform: translate(94.5369vw, 100vh) scale(0.3932);
    }
  }
  .snow:nth-child(165) {
    opacity: 0.197;
    transform: translate(54.3862vw, -10px) scale(0.8572);
    animation: fall-165 24s -29s linear infinite;
  }
  @keyframes fall-165 {
    76.049% {
      transform: translate(50.1971vw, 76.049vh) scale(0.8572);
    }
    to {
      transform: translate(52.29165vw, 100vh) scale(0.8572);
    }
  }
  .snow:nth-child(166) {
    opacity: 0.4292;
    transform: translate(68.2978vw, -10px) scale(0.6917);
    animation: fall-166 20s -24s linear infinite;
  }
  @keyframes fall-166 {
    35.94% {
      transform: translate(70.883vw, 35.94vh) scale(0.6917);
    }
    to {
      transform: translate(69.5904vw, 100vh) scale(0.6917);
    }
  }
  .snow:nth-child(167) {
    opacity: 0.3907;
    transform: translate(44.4109vw, -10px) scale(0.9003);
    animation: fall-167 24s -29s linear infinite;
  }
  @keyframes fall-167 {
    66.614% {
      transform: translate(45.361vw, 66.614vh) scale(0.9003);
    }
    to {
      transform: translate(44.88595vw, 100vh) scale(0.9003);
    }
  }
  .snow:nth-child(168) {
    opacity: 0.7903;
    transform: translate(53.3958vw, -10px) scale(0.6087);
    animation: fall-168 23s -17s linear infinite;
  }
  @keyframes fall-168 {
    60.597% {
      transform: translate(49.3527vw, 60.597vh) scale(0.6087);
    }
    to {
      transform: translate(51.37425vw, 100vh) scale(0.6087);
    }
  }
  .snow:nth-child(169) {
    opacity: 0.5971;
    transform: translate(64.5333vw, -10px) scale(0.9085);
    animation: fall-169 25s -20s linear infinite;
  }
  @keyframes fall-169 {
    43.294% {
      transform: translate(65.3433vw, 43.294vh) scale(0.9085);
    }
    to {
      transform: translate(64.9383vw, 100vh) scale(0.9085);
    }
  }
  .snow:nth-child(170) {
    opacity: 0.4628;
    transform: translate(33.8316vw, -10px) scale(0.336);
    animation: fall-170 25s -18s linear infinite;
  }
  @keyframes fall-170 {
    57.116% {
      transform: translate(37.8862vw, 57.116vh) scale(0.336);
    }
    to {
      transform: translate(35.8589vw, 100vh) scale(0.336);
    }
  }
  .snow:nth-child(171) {
    opacity: 0.1999;
    transform: translate(21.2767vw, -10px) scale(0.473);
    animation: fall-171 20s -23s linear infinite;
  }
  @keyframes fall-171 {
    74.795% {
      transform: translate(18.3403vw, 74.795vh) scale(0.473);
    }
    to {
      transform: translate(19.8085vw, 100vh) scale(0.473);
    }
  }
  .snow:nth-child(172) {
    opacity: 0.4329;
    transform: translate(9.7059vw, -10px) scale(0.3051);
    animation: fall-172 12s -9s linear infinite;
  }
  @keyframes fall-172 {
    76.465% {
      transform: translate(2.5511vw, 76.465vh) scale(0.3051);
    }
    to {
      transform: translate(6.1285vw, 100vh) scale(0.3051);
    }
  }
  .snow:nth-child(173) {
    opacity: 0.0922;
    transform: translate(10.1994vw, -10px) scale(0.3046);
    animation: fall-173 10s -28s linear infinite;
  }
  @keyframes fall-173 {
    54.37% {
      transform: translate(5.9004vw, 54.37vh) scale(0.3046);
    }
    to {
      transform: translate(8.0499vw, 100vh) scale(0.3046);
    }
  }
  .snow:nth-child(174) {
    opacity: 0.9365;
    transform: translate(15.9991vw, -10px) scale(0.1224);
    animation: fall-174 23s -15s linear infinite;
  }
  @keyframes fall-174 {
    75.996% {
      transform: translate(10.0416vw, 75.996vh) scale(0.1224);
    }
    to {
      transform: translate(13.02035vw, 100vh) scale(0.1224);
    }
  }
  .snow:nth-child(175) {
    opacity: 0.5441;
    transform: translate(4.5837vw, -10px) scale(0.297);
    animation: fall-175 14s -16s linear infinite;
  }
  @keyframes fall-175 {
    34.646% {
      transform: translate(14.2485vw, 34.646vh) scale(0.297);
    }
    to {
      transform: translate(9.4161vw, 100vh) scale(0.297);
    }
  }
  .snow:nth-child(176) {
    opacity: 0.1654;
    transform: translate(0.3058vw, -10px) scale(0.787);
    animation: fall-176 18s -15s linear infinite;
  }
  @keyframes fall-176 {
    40.282% {
      transform: translate(5.9453vw, 40.282vh) scale(0.787);
    }
    to {
      transform: translate(3.12555vw, 100vh) scale(0.787);
    }
  }
  .snow:nth-child(177) {
    opacity: 0.7425;
    transform: translate(17.9525vw, -10px) scale(0.6239);
    animation: fall-177 21s -29s linear infinite;
  }
  @keyframes fall-177 {
    55.968% {
      transform: translate(24.7171vw, 55.968vh) scale(0.6239);
    }
    to {
      transform: translate(21.3348vw, 100vh) scale(0.6239);
    }
  }
  .snow:nth-child(178) {
    opacity: 0.4142;
    transform: translate(18.2987vw, -10px) scale(0.343);
    animation: fall-178 13s -3s linear infinite;
  }
  @keyframes fall-178 {
    77.678% {
      transform: translate(9.545vw, 77.678vh) scale(0.343);
    }
    to {
      transform: translate(13.92185vw, 100vh) scale(0.343);
    }
  }
  .snow:nth-child(179) {
    opacity: 0.6397;
    transform: translate(85.1886vw, -10px) scale(0.1968);
    animation: fall-179 28s -15s linear infinite;
  }
  @keyframes fall-179 {
    57.082% {
      transform: translate(77.3114vw, 57.082vh) scale(0.1968);
    }
    to {
      transform: translate(81.25vw, 100vh) scale(0.1968);
    }
  }
  .snow:nth-child(180) {
    opacity: 0.9982;
    transform: translate(92.7922vw, -10px) scale(0.3215);
    animation: fall-180 14s -3s linear infinite;
  }
  @keyframes fall-180 {
    72.095% {
      transform: translate(91.6061vw, 72.095vh) scale(0.3215);
    }
    to {
      transform: translate(92.19915vw, 100vh) scale(0.3215);
    }
  }
  .snow:nth-child(181) {
    opacity: 0.7068;
    transform: translate(65.2487vw, -10px) scale(0.9358);
    animation: fall-181 27s -19s linear infinite;
  }
  @keyframes fall-181 {
    73.197% {
      transform: translate(70.2254vw, 73.197vh) scale(0.9358);
    }
    to {
      transform: translate(67.73705vw, 100vh) scale(0.9358);
    }
  }
  .snow:nth-child(182) {
    opacity: 0.1639;
    transform: translate(1.1521vw, -10px) scale(0.1882);
    animation: fall-182 16s -10s linear infinite;
  }
  @keyframes fall-182 {
    73.884% {
      transform: translate(-5.7377vw, 73.884vh) scale(0.1882);
    }
    to {
      transform: translate(-2.2928vw, 100vh) scale(0.1882);
    }
  }
  .snow:nth-child(183) {
    opacity: 0.5905;
    transform: translate(41.3052vw, -10px) scale(0.8407);
    animation: fall-183 20s -23s linear infinite;
  }
  @keyframes fall-183 {
    47.979% {
      transform: translate(33.4548vw, 47.979vh) scale(0.8407);
    }
    to {
      transform: translate(37.38vw, 100vh) scale(0.8407);
    }
  }
  .snow:nth-child(184) {
    opacity: 0.4706;
    transform: translate(21.1118vw, -10px) scale(0.6653);
    animation: fall-184 13s -30s linear infinite;
  }
  @keyframes fall-184 {
    66.506% {
      transform: translate(12.2662vw, 66.506vh) scale(0.6653);
    }
    to {
      transform: translate(16.689vw, 100vh) scale(0.6653);
    }
  }
  .snow:nth-child(185) {
    opacity: 0.026;
    transform: translate(89.6843vw, -10px) scale(0.0051);
    animation: fall-185 15s -29s linear infinite;
  }
  @keyframes fall-185 {
    74.019% {
      transform: translate(88.1942vw, 74.019vh) scale(0.0051);
    }
    to {
      transform: translate(88.93925vw, 100vh) scale(0.0051);
    }
  }
  .snow:nth-child(186) {
    opacity: 0.6911;
    transform: translate(15.3117vw, -10px) scale(0.59);
    animation: fall-186 16s -22s linear infinite;
  }
  @keyframes fall-186 {
    53.448% {
      transform: translate(13.2928vw, 53.448vh) scale(0.59);
    }
    to {
      transform: translate(14.30225vw, 100vh) scale(0.59);
    }
  }
  .snow:nth-child(187) {
    opacity: 0.0566;
    transform: translate(20.183vw, -10px) scale(0.3573);
    animation: fall-187 20s -12s linear infinite;
  }
  @keyframes fall-187 {
    42.084% {
      transform: translate(22.5673vw, 42.084vh) scale(0.3573);
    }
    to {
      transform: translate(21.37515vw, 100vh) scale(0.3573);
    }
  }
  .snow:nth-child(188) {
    opacity: 0.5333;
    transform: translate(1.5748vw, -10px) scale(0.613);
    animation: fall-188 10s -1s linear infinite;
  }
  @keyframes fall-188 {
    65.491% {
      transform: translate(9.1572vw, 65.491vh) scale(0.613);
    }
    to {
      transform: translate(5.366vw, 100vh) scale(0.613);
    }
  }
  .snow:nth-child(189) {
    opacity: 0.9427;
    transform: translate(55.6132vw, -10px) scale(0.6842);
    animation: fall-189 10s -2s linear infinite;
  }
  @keyframes fall-189 {
    64.291% {
      transform: translate(64.5722vw, 64.291vh) scale(0.6842);
    }
    to {
      transform: translate(60.0927vw, 100vh) scale(0.6842);
    }
  }
  .snow:nth-child(190) {
    opacity: 0.7178;
    transform: translate(44.7511vw, -10px) scale(0.7398);
    animation: fall-190 21s -2s linear infinite;
  }
  @keyframes fall-190 {
    59.181% {
      transform: translate(43.1439vw, 59.181vh) scale(0.7398);
    }
    to {
      transform: translate(43.9475vw, 100vh) scale(0.7398);
    }
  }
  .snow:nth-child(191) {
    opacity: 0.155;
    transform: translate(7.0805vw, -10px) scale(0.5626);
    animation: fall-191 27s -28s linear infinite;
  }
  @keyframes fall-191 {
    57.502% {
      transform: translate(8.2406vw, 57.502vh) scale(0.5626);
    }
    to {
      transform: translate(7.66055vw, 100vh) scale(0.5626);
    }
  }
  .snow:nth-child(192) {
    opacity: 0.9329;
    transform: translate(4.7117vw, -10px) scale(0.0328);
    animation: fall-192 21s -18s linear infinite;
  }
  @keyframes fall-192 {
    43.365% {
      transform: translate(2.589vw, 43.365vh) scale(0.0328);
    }
    to {
      transform: translate(3.65035vw, 100vh) scale(0.0328);
    }
  }
  .snow:nth-child(193) {
    opacity: 0.0213;
    transform: translate(83.7867vw, -10px) scale(0.5549);
    animation: fall-193 18s -30s linear infinite;
  }
  @keyframes fall-193 {
    52.207% {
      transform: translate(87.4181vw, 52.207vh) scale(0.5549);
    }
    to {
      transform: translate(85.6024vw, 100vh) scale(0.5549);
    }
  }
  .snow:nth-child(194) {
    opacity: 0.8789;
    transform: translate(21.4924vw, -10px) scale(0.3662);
    animation: fall-194 12s -6s linear infinite;
  }
  @keyframes fall-194 {
    74.626% {
      transform: translate(21.7359vw, 74.626vh) scale(0.3662);
    }
    to {
      transform: translate(21.61415vw, 100vh) scale(0.3662);
    }
  }
  .snow:nth-child(195) {
    opacity: 0.2436;
    transform: translate(25.9088vw, -10px) scale(0.3152);
    animation: fall-195 10s -5s linear infinite;
  }
  @keyframes fall-195 {
    40.187% {
      transform: translate(31.9901vw, 40.187vh) scale(0.3152);
    }
    to {
      transform: translate(28.94945vw, 100vh) scale(0.3152);
    }
  }
  .snow:nth-child(196) {
    opacity: 0.7917;
    transform: translate(98.2158vw, -10px) scale(0.9604);
    animation: fall-196 30s -2s linear infinite;
  }
  @keyframes fall-196 {
    76.36% {
      transform: translate(95.2096vw, 76.36vh) scale(0.9604);
    }
    to {
      transform: translate(96.7127vw, 100vh) scale(0.9604);
    }
  }
  .snow:nth-child(197) {
    opacity: 0.2619;
    transform: translate(23.54vw, -10px) scale(0.2897);
    animation: fall-197 26s -28s linear infinite;
  }
  @keyframes fall-197 {
    47.363% {
      transform: translate(33.0078vw, 47.363vh) scale(0.2897);
    }
    to {
      transform: translate(28.2739vw, 100vh) scale(0.2897);
    }
  }
  .snow:nth-child(198) {
    opacity: 0.3443;
    transform: translate(83.9582vw, -10px) scale(0.3019);
    animation: fall-198 11s -24s linear infinite;
  }
  @keyframes fall-198 {
    75.539% {
      transform: translate(91.7889vw, 75.539vh) scale(0.3019);
    }
    to {
      transform: translate(87.87355vw, 100vh) scale(0.3019);
    }
  }
  .snow:nth-child(199) {
    opacity: 0.4396;
    transform: translate(29.4161vw, -10px) scale(0.4683);
    animation: fall-199 11s -20s linear infinite;
  }
  @keyframes fall-199 {
    48.405% {
      transform: translate(32.7808vw, 48.405vh) scale(0.4683);
    }
    to {
      transform: translate(31.09845vw, 100vh) scale(0.4683);
    }
  }
  .snow:nth-child(200) {
    opacity: 0.0743;
    transform: translate(7.8252vw, -10px) scale(0.6379);
    animation: fall-200 18s -8s linear infinite;
  }
  @keyframes fall-200 {
    62.366% {
      transform: translate(4.1191vw, 62.366vh) scale(0.6379);
    }
    to {
      transform: translate(5.97215vw, 100vh) scale(0.6379);
    }
  }