<!DOCTYPE html>
<html>
  <head>
  </head>
  <body ng-app class="container" >
    <div rain_of_alex='1'>
      <div ng-init="check=false">
        <label>Click me: 
            <input type="checkbox" ng-model="checked"/>
        </label>
        <br/>
        <input ng-model="name__da" data="importantData" class="sobaka" ng-click="console.log('darova')" ng-hide="checked"/>
        <ul>
          <li ng-repeat="letter in name__da" ng-if="letter == 'a'">
            <p>
              <span >{{letter | toUpperCase}}</span>
            </p>
          </li>
        </ul>
        <label>Click me: 
          <input type="checkbox" ng-model="checked"/>
        </label>
        <br/>
        <span ng-if="checked">This is removed when the checkbox is unchecked.</span>
        <p ng-hide="checked">This one is hide when checked.</p>
        <p ng-show="checked">This one is show when checked.</p>
        <p>This one shows model "name__da":
          <span ng-bind="name__da"></span>.
        </p>
      </div>
    </div>
    <custom-button class='super' id='0'></custom-button>
  </body>
</html>